@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", "sans-sarif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #f4f2f2;
    --primary-color-light: #f4f2f2;
    --toggle-color: #ddd;
    --text-color: #707070;
    --dark-color: #000;
  
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-04: all 0.5s ease;
  }

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--trans-02);
   overflow-x: hidden;
}

.task-input {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.task-name,
.task-details, .due-date {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.priority-submit {
    display: flex;
    flex-direction: row;
    width: 100%;
    float: right;
    justify-content: space-between;
    margin-top: .6rem;
}

.form-select {
    width: 63%;
}

.priority-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.input-textarea {
    min-height: 30px;
}

.submit {
    background-color: #2b3b3b;
    border-color: #2b3b3b;
    color: white;
}

.submit:hover {
    border-color: #2b3b3b;
    color: #2b3b3b;
    background-color: white;
}

.calendar-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
  
.calendar-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
  
.calendar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    z-index: 1;
    display: none;
}
  
.header {
    background-color: #b2a58d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
#prevBtn,
#nextBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
  
#monthYear {
    font-size: 18px;
    font-weight: bold;
}
  
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
}
  
.day {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
  
.day.current {
    background-color: white;
    color: black;
    border: 1px solid teal;
}
  
.day.selected {
    background-color: teal;
    color: white;
}
  
#dateInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.mt-4 {
    max-width: 600px;
    margin: auto;
}

.task-header, .task-footer {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 1rem;
    align-items: baseline;
}

.task-header-right {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 230px;
    justify-content: flex-end;
    gap: 1rem;
}

.task-header-left {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.due-date-header {
    color: grey;
    font-weight: 300;
}

.due-date-header .btn, .btn-secondary {
    width: 96.12px;
}

.task-footer .btn-check:focus+.btn, .btn:focus {
   box-shadow: none;
}

.task-header-right .btn-link {
    padding: 0;
}

.task-footer .btn-outline-success {
    color: teal;
    border-color: teal;
}

.task-footer .btn-outline-success:hover {
    background-color: teal;
    color: white;
}

.trash-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 1.5rem;
}

.trash-icon:hover {
   transition-duration: 150ms;
    width: 26px;
    height: 26px;
}

.card-title {
    padding-left: 1.5rem;
}

.card-title:focus-visible {
    margin-left: 1.5rem;
    padding: 0 .8rem 0 0;
}

.card-title:hover {
    background-color: lightgray;
    margin-left: 1.5rem;
    padding: 0 .8rem 0 0;
}

.card-body {
   padding: 1rem 1rem 0 1rem;
}

.card-body p {
    display: none;
}

.card-body p:first-of-type:hover {
    background-color: lightgray;
}

.expand-collapse {
    font-style: italic;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.edit-task{
    font-style: italic;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--trans-02);

}


 
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}


.sidebar-nav li a:hover {
    text-decoration: none;
   
    background: rgba(255,255,255,0.2);
    background-color: var(--toggle-color);
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .4rem;
    text-align: center;
}

.projects a {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    /* transition: var(--trans-04); */
    white-space: unset;
    opacity: 1;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 80px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}